.group-btn > div {
    display: flex;
    justify-content: center;
    height: 80px;
}
.group-btn > p{
    margin-bottom: 10px;
    @media screen and (max-width: $bp-mobile) {
        padding-left: 20px;
    }
}
.button {
    display: block;
    border: none;
    padding: 9px 18px;
    margin-top: auto;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 90%;
    width: 100%;
    cursor: none;
    text-align: center;
    transition: 0.4s;
    @media screen and (min-width: $bp-mobile + 1) {
        max-width: 360px;
    }

    &:first-child {
        border-right: 1px solid $lightgrey;
    }

    &:hover,
    &:active {
        background: $main-color !important;
        height: 100%;
        color: #ffffff;
        transition: 0.4s;
    }

    &.hidden {
        display: none;
    }
}