.group-btn {
    display: flex;
    justify-content: center;
    height: 80px;
}

.button {
    display: block;
    border: none;
    padding: 9px 18px;
    margin-top: auto;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 80%;
    width: 100%;
    cursor: none;
    text-align: center;
    transition: 0.4s;
    max-width: 360px;

    &:first-child {
        border-right: 1px solid $lightgrey;
    }

    &:hover,
    &:active {
        background: $main-color !important;
        height: 100%;
        color: #ffffff;
        transition: 0.4s;
    }

    &.hidden {
        display: none;
    }
}