.map{
    background: url(/public/images/05-map/map-bg.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    &-slides{
        margin-top: 50px;
        outline: none;
        .map-dots img{
            margin: 0 auto;
        }
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    .slick-dots{
        .slick-active i:before{
            color: green;
        }
    }
}


