body {
    background-color: $dark-blue;
    font-family: $text;
    font-size: 14px;
    color: #fff;
    @media screen and (min-width: $bp-tablet + 1) {
        font-size: 18px;
    }
}

// page class necessary for transition between components
.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// transition
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease;
}

.container {
    padding: 0 140px;
    margin: auto;
}

.block {

}

.title {
    font-family: $title;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.25px;
    margin-bottom: 15px;
    @media screen and (min-width: $bp-tablet + 1) {
        font-size: 86px;
        line-height: 90px;
        margin-bottom: 25px;
    }
}

.strong {
    color: $main-color;
}