body {
    font-family: $text;
    color: #fff;
    background-color: #000;
}

// page class necessary for transition between components
.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// transition
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease;
}

.container {
    padding: 60px 20px;
    margin: auto;
    max-width: $bp-desktop;
}

.title {
    @include title;
}

.subtitle {
    @include subtitle;
}

.strong {
    color: $main-color;
}