//Breakpoint
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-large: 1200px;

//Color
$main-color: #FF6663;
$dark-blue: #1E1F32;
$lightgrey: #b9b9b9;
$white: #ffffff;
$black : #000000;

//Font
$title: 'lato-bold';
$text: 'lato';