@import "./variables/font.scss";
@import "./variables/variable.scss";
@import "./components/reset.scss";
@import "./components/button.scss";

//import views
@import "./components/introduction.scss";
@import "./components/endpage.scss";

html {
  font-family: "lato";
  color: #fff;
  background-color: #000;
}