.article {
    background: url(/images/02-endpage/background.png) no-repeat fixed;
    background-position: right;

    &-title {}
    &-subtitle {}
    &-text {
        font-size: 14px;
        line-height: 18px;
    }
    &-imgContainer {
        max-width: 400px;
        margin: 20px auto;
    }
    &-img {
        width: 100%;
    }
}