.endpage {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: $bp-mobile) {
        flex-direction: column;
    }

    &-background {
        position: fixed;
        z-index: -1;
        height: 100%;
        width: 100%;
        background: url(/images/gugus.svg) no-repeat right;
        background-size: 50%;
        opacity: 0.6;

        @media screen and (max-width: $bp-tablet) {
            background: none;
        }
    }


    @media screen and (max-width: $bp-mobile) {
        .cardLink:first-of-type {
            margin-right: -100px;

            .cardLink-text {
                text-align: right;
                margin-right: 20px;
            }

            .cardLink-title {
                text-align: right;
                margin-right: 20px;
            }
        }

        .cardLink:last-of-type {
            margin-left: -100px;

            .cardLink-text {
                text-align: left;
                margin-left: 20px;
            }

            .cardLink-title {
                text-align: left;
                margin-left: 20px;
            }
        }
    }



    .block {
        width: 50%;

        @media screen and (max-width: $bp-mobile) {
            width: 100%;
        }

        &:first-child {
            padding: 6%;

            @media screen and (max-width: $bp-mobile) {
                padding: 0;
                margin-bottom: 60px;
                margin-top: 80px;
            }
        }

        &:nth-child(2) {
            display: flex;
            align-items: center;

            @media screen and (max-width: $bp-desktop-large) {
                flex-direction: column;
            }

            @media screen and (max-width: $bp-mobile) {
                padding-bottom: 60px;
            }
        }
    }

    &-title {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 60px;
    }

    &-text {
        width: 100%;

        @media screen and (min-width: $bp-tablet + 1) {
            width: 84%;
        }

        @media screen and (max-width: $bp-mobile) {
            text-align: center;
        }

        &::before,
        &::after {
            content: '';
            display: flex;
            margin: 0 auto;
            height: 30px;
            width: 1px;
            background: #ffffff;
            opacity: 0.4;
        }

        &::before {
            margin-bottom: 40px;
        }

        &::after {
            margin-top: 40px;
        }
    }
}

.conclusionContainer {
    display: block;
    .conclusion {
        justify-content: center;
        width: 100%;
        padding-bottom: 80px;
        .endpage-text {
            width: 100%;
        }
    }
}