.endpage { 

    .background {
        position: fixed;
        z-index: -1;
        height: 100%;
        width: 100%;
        background: url(/images/02-endpage/background.png) no-repeat right;
        background-size: cover;
    }

    &-title {}

    &-text {

        &::before,
        &::after {

        }
        &::before {

        }
        &::after {

        }
    }
}