.globalpart {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &-imgContainer {
        height: 175px;
        overflow: hidden;

        @media screen and (min-width: $bp-desktop +1) {
            position: absolute;
            top: 0;
            right: 50%;
            overflow: visible;
            width: 34%;
            height: auto;
            max-width: 450px;
        }
    }

    &-img {
        width: 100%;
    }

    &>* {
        order: 1000;
    }

    &-title {
        margin-top: 15px;
        margin-bottom: 30px;
        text-transform: uppercase;
        order: 1;
        width: 100%;

        @media screen and (min-width: $bp-desktop +1) {
            margin: 60px 0;
        }
    }

    &-text1,
    &-text2 {
        @media screen and (min-width: $bp-mobile +1) {
            width: calc(50% - 20px);
        }

        @media screen and (min-width: $bp-desktop +1) {
            width: 40%;
        }
    }

    &-text1 {
        order: 2;
        margin: 80px 0;

        @media screen and (min-width: $bp-mobile +1) and (max-width: $bp-desktop) {
            margin-right: 40px;
        }
    }

    &-text2 {
        order: 3;
        margin-bottom: 20px;

        @media screen and (min-width: $bp-desktop +1) {
            order: 4;
        }
    }

    &-quotationContainer {
        order: 5;
        margin: 40px 0;

        @media screen and (min-width: $bp-desktop +1) {
            order: 2;
            width: 40%;
            margin: 0;
            margin-left: auto;
        }

        @media screen and (max-width: $bp-desktop) {
            text-align: center;
        }
    }

    &-quotation {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 40px;
        line-height: 36px;
    }

    &-source {
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        color: #b6b6b6d3;
    }

    &-slider {
        order: 4;
        position: relative;
        background: #ffffff;
        margin: 0 -20px;
        padding: 40px 20px 100px;

        @media screen and (min-width: $bp-mobile + 1) {
            margin: 0 -40px;
            padding: 40px 40px 100px;
        }

        @media screen and (max-width: $bp-tablet + 1) {
            display: none;
        }

        @media screen and (min-width: $bp-desktop +1) {
            order: 5;
            width: 50%;
            margin: 0;
            margin-left: auto;
            padding: 80px 100px 100px;
        }

        &-dots {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;

            .dot {
                display: block;
                height: 12px;
                width: 12px;
                background: $lightgrey;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.active {
                    background: #000000;
                }
            }
        }

        .globalpart-slide {
            color: #000000;
            display: none;

            &.active {
                display: block;
            }

            &-title {
                font-weight: 600;
                margin-bottom: 40px;
            }

            &-text {
                line-height: 22px;
            }
        }
    }

    &-btn {
        width: calc(100% + 40px);
        margin: 0 -20px;
        order: 6;

        @media screen and (min-width: $bp-desktop +1) {
            width: 50%;
            margin: -118px 0 0;
        }
        > div {
            @media screen and (min-width: $bp-desktop +1) {
                justify-content: flex-end;
            }
        }
    }

    .slick-list {
        height: 410px;
        overflow-y: scroll;
    }

    .slick-dots {
        bottom: -70px;
        height: 25px;

        .slick-active .globalpart-slider-dots .dot {
            background: $dark-blue;
        }
    }
}

@keyframes scroll {
    0% {
        bottom: 80px;
    }

    50% {
        bottom: 70px;
    }

    100% {
        bottom: 80px;
    }
}