@keyframes mirror {
    from {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    to {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

@keyframes expande {
    0% {
        width: 0;
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        width: 25px;
    }
}

@keyframes showDash {
    to {
        stroke-dashoffset: 0;
    }
}

.introduction {
    font-family: "lato-light";
    height: 100vh;
    text-align: center;

    &-content {
        position: fixed;
        top: calc(50% - 128px);
        color: #fff;
        width: 100%;
    }

    &-title {
        font-size: 25px;
        margin: 20px auto;
        width: 150px;

        &-letter {
            display: inline-block;
        }
    }

    &-svg {
        margin-left: -15px;
    }

    &-click {
        margin-top: 30px;
    }
}

.cls-1 {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
}

.showDash {
    animation: showDash 5s forwards;
}

.ghost {
    animation: expande 2000ms ease both 2000ms;
}

.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    animation: mirror 500ms ease both 4000ms;
}

.start {
    img {
        width: 100px;
    }
}