@keyframes load {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes mirror {
    from {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    to {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

@keyframes expande {
    0% {
        width: 0;
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        width: 25px;
    }
}

.introduction {
    height: 100vh;
    text-align: center;

    &-video {
        position: fixed;
        right: 0;
        top: -200px;
    }

    &-content {
        position: fixed;
        top: 40%;
        color: #fff;
        width: 100%;
    }

    &-title {
        font-family: "lato-light";
        font-size: 25px;
        margin: 15px auto;
        width: 150px;

        &-letter {
            display: inline-block;
        }
    }

    &-loader {
        position: relative;
        margin: 0 auto;
        height: 2px;
        width: 135px;
        margin-bottom: 15px;

        span {
            display: block;
            height: 100%;
            position: relative;
            overflow: hidden;
            background-color: $main-color;
            animation: load 5s linear;
        }

        &-percentage>p {
            font-size: 11px;
            letter-spacing: 2px;
            margin-bottom: 70px;
        }
    }
}

.ghost {
    animation: expande 2000ms ease both 2000ms;
}

.mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    animation: mirror 500ms ease both 4000ms;
}

.start {
    img {
        width: 100px;
    }
}