.map{
  background: url('/images/05-map/map-bg2.png') no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  @media (max-width: $bp-tablet + 1px){
    height: 100vh;
  }
  &-button{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .btn-next{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    height: auto;
    width: auto;
    background: $main-color;
    color: $white;
    padding: 20px 30px ;
    @media (max-width: $bp-tablet){
      position: static;
      align-items: center;
    }
  }
  &-img{
    width: 100%;
    height: 300px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .slick-dots{
    top: 320px;
    bottom: unset;
    .slick-active .map-dots{
      background: $white;
    }
    @media (max-width: $bp-tablet){
      top: 350px;
    }
  }
  &-dots{
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
  }
  &-content{
    margin: 85px 0 50px;
  }
  &-article{
    margin-top: 30px;
  }
  &-discover_text{
    background: $white;
    color: $black;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
  }
}