.map {
  background: url('/images/05-map/map-bg2.png') no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  @media (min-width: $bp-tablet + 1px){
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    &.articleOpen{
      overflow-y: scroll;
      .map-content{
        transform: translateY(0);
      }
      .map-globe{
        max-height: 430px;
      }
    }
  }
  &-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @media (min-width: $bp-tablet + 1px) {
      justify-content: center;
    }
  }
  &-title{
    color: $main-color;
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
  }
  &-subtitle{
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0 20px;
  }
  .btn-next {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    height: auto;
    width: auto;
    background: $main-color;
    color: $white;
    padding: 20px 30px ;
    @media (min-width: $bp-tablet){
      bottom: 0;
    }
  }
  &-img {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-bottom: 20px;
  }
  &-subtitle {
    margin-bottom: 30px;
  }
  &-text {

  }
  &-mediaContainer {
    margin: 40px 0;
    width: 100%;
    img,
    video {
      width: 100%;
    }
  }
  &-moreContainer {

    .map-moreText {
        font-size: 18px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        background: none;
        border: 0;
        display: block;
        color: #fff;
        text-align: left;
        cursor: pointer;
        border-bottom: 2px solid #fff;
        width: 100%;

        &:before {
            font-family: 'fontello';
            font-size: 24px;
            margin-right: 20px;
            content: '\E801';
        }
    }

    .map-more {
        display: none;
    }

    .show {
        display: none;
    }

    .show:checked+.map-more {
        display: block;
    }
  }

  .slick-dots{
    top: 320px;
    bottom: unset;
    .slick-active .map-dots{
      background: $white;
    }
    @media (max-width: $bp-tablet){
      top: 350px;
    }
  }
  &-dots{
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
  }
  &-content {
    margin: 85px 0 50px;

    @media (min-width: $bp-tablet + 1px) {
      margin: 0;
      transform: translateY(5000px);
      transition: .5s;
      display: flex;
    }
  }
  &-article{
    margin-top: 30px;
    @media (min-width: $bp-tablet + 1px){
      margin-top: 100px;
    }
  }
  &-discover_text{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    color: $black;
    text-align: center;
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
  }
  circle{
    cursor: pointer;
  }
  &-bloc{
    &_left{
      width: 60%;
      background: $white;
      color: $black;
      padding: 30px 50px;
      margin-top: 50px;
      .map-text:first-of-type{
        margin-bottom: 30px;
      }
    }
    &_right{
      width: 40%;
      background: $white;
      color: $black;
      padding-bottom: 50px;
      .map-text{
        margin: 0 50px ;
      }
    }
  }
  &-media{
    padding: 20px;
    img , iframe{
      min-height: 300px;
      width: 100%;
      height: 100%;
    }
  }
  &-markers{
    border-radius: 50%;
    fill: $main-color;
    position: relative;
    transition: .5s;
    &:hover{
      opacity: 0.5;
    }
  }
}