.transition-discover {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.transition-btn {

    .button {
        background-color: transparent;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 20px 40px;
        color: #fff;
        margin-top: 30px;
        &:hover {
            border-color: $main-color;
        }
    }
}